.DS_Store
*/*.aux
*/*.bbl
*/*.blg
*/*.log
*/*.pdf
cmake-build/*
.idea/*
bin/*
index_data
index_data/*
competitors/tree/index_data/*
competitors/tree/test
.*
**/__pycache__
temp/*
*/.ipynb_checkpoints/*
compile_commands.json
